body {
  background-color: #ccddff;
  font-family: sans-serif;
}

h1 {
  color: blue;
  font-size: 3.5em;
  text-align: center;
  background-color: #cceeff;

  padding: 25px;
  margin: 0px;
  margin-bottom: 25px;
}

.panel {
  margin-right: 40px;
}

#personal-pic {
  margin: 25px;
  margin-left: 40px;
}
